body {
    background-color: #fcf6e6;
    color: #3b302c;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', Georgia, serif;
    margin: 0;
    padding: 25px;
    min-height: 100 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 650px;
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fffbf0;
    border: 1px solid #c9b398;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h1{
    text-align: center;
    color: #58180e;
    font-family: 'Copperplate', 'Perpetua Titling MT', fantasy, serif;
    font-weight: normal;
    font-size: 2.8em;
    margin-top: 10px;
    margin-bottom: 25px;
}

.user-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 100px;
    justify-content: center;
}

.user-list li{
    background-color: #f7f3e8;
    border: 1px solid #a8947f;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 12px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.user-list li a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
    display: block;
}

.user-list li:hover,
.character-list li:hover
{
    background-color: #fff9e6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.user-list li a:hover,
.character-list li a:hover
{
    color: #58180e;
}

.user-list li form{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-list li input[type="submit"]{
    background-color: #8c2f1f;
    color: #fcf6e6;
    border: 1px solid #58180e;
    padding: 4px 8px;
    border-radius: 8px;
    cursor:pointer;
    font-family: 'Book Antiqua', serif;
}

.user-list li input[type=submit]:hover{
    background-color: #b0331f;
}

form[action*="create_user"],
form[action*="add_character"]
{
    background-color: #f4efdf;
    border: 1px solid #a8947f;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 40px auto 0 auto;
    display:block ;
    width: fit-content;
}

form label
{
    font-weight: bold;
    margin-bottom: 2px;
    color: #58180e;
    display: block;
}

form input[type="text"]{
    padding: 8px;
    background-color: #fffbf0;
    color: #3b302c;
    border: 1px solid #a8947f;
    margin: 8px 0 15px 0;
    width: 250px;
    display: block;
}

form input[type="submit"]{
    background-color: #38761d;
    color: #fcf6e6;
    border: 1px solid #274e13;
    padding: 4px 8px;
    border-radius: 8px;
    cursor:pointer;
    font-family: 'Book Antiqua', serif;
}


form input[type="submit"]:hover{
    background-color: #4a942b;
}

.character-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    max-width: 600px;
    width: 100%;
}

.character-list li{
    background-color: #f7f3e8;
    border: 1px solid #a8947f;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50px;
    width: 180px;
}

.character-list li a{
    text-decoration: none;
    color: #3b302c;
    font-weight: bold;
    font-size: 1em;
    display: block;
    width: 100%;
}
