{% extends "base.html" %}
{% block content %}
<h1>Characters</h1>

<ul class="character-list">
    {% for character in characters %}
    <li>
        <a href="{{ url_for('char', username=user.username, char_name=character.char_name) }}">{{character.char_name}}</a>
    </li>
    {% endfor %}
</ul>


<form action="{{url_for('add_character', username=user.username)}}" method="POST">
    <label for="add_character">Add new Character</label><br>
    <input type="text" id="add_character" name="add_character" placeholder="Add a new character" required><br>
    <input type="submit" value="Create Character"><br>
</form>

{% endblock %}