{% extends "base.html" %}
{% block content %}
<h1>Characters</h1>

<ul class="character-list">
    {% for character in characters %}
    <li>
        <img src="{{character.char_imgage}}" class="character-profile">
        <a href="{{ url_for('char', username=user.username, char_name=character.char_name) }}">{{character.char_name}}</a>
    </li>
    {% endfor %}
</ul>


<form action="{{url_for('add_character', username=user.username)}}" method="POST" enctype="multipart/form-data">
    <h2>Create new Character</h2>

    <h3> Character Name</h3>
    <label for="char_name"></label>
    <input type="text" id="char_name" name="char_name" placeholder="Enter Characters Name" required><br>

    <hr>

    <h3>Character Details</h3>

    <label for="appearance">Appearance:</label>
    <textarea id="appearance" name="appearance" rows="4" placeholder="Describe your Characters Appearance"></textarea><br>

    <label for="personality">Personality:</label>
    <textarea id="personality" name="personality" rows="4" placeholder="Describe their personality, traits and ideals."></textarea><br>

    <label for="backstory">Backstory:</label>
    <textarea id="backstory" name="backstory" rows="6" placeholder="Provide a brief history of your character."></textarea><br>

    <label for="proficiencies">Proficiency:</label>
    <textarea id="proficiencies" name="proficiencies" rows="6" placeholder="Provide a few things your character is good at."></textarea><br>

    <hr>

    <h3> Attributes </h3>
    <p> You have a total of <strong>10 extra points</strong> to spend among these attributes:</p>

    <label for="strength">Strength:</label>
    <input type="number" id="strength" name="strength" value="8" min="8" max="18" required><br>

    <label for="dexterity">Dexterity:</label>
    <input type="number" id="dexterity" name="dexterity" value="8" min="8" max="18" required><br>

    <label for="constitution">Constitution:</label>
    <input type="number" id="constitution" name="constitution" value="8" min="8" max="18" required><br>

    <label for="intelligence">Intelligence:</label>
    <input type="number" id="intelligence" name="intelligence" value="8" min="8" max="18" required><br>

    <label for="wisdom">Wisdom:</label>
    <input type="number" id="wisdom" name="wisdom" value="8" min="8" max="18" required><br>

    <label for="charisma">Charisma:</label>
    <input type="number" id="charisma" name="charisma" value="8" min="8" max="18" required><br>

    <hr>

    <h3>Character Image (Choose One)</h3>
    <div class="images">
    <label for="char_img"> Upload a file:</label>
    <input type="file" id="char_img" name="char_img" accept="image/*" ><br>

    <p style="text-align: left"><strong>OR</strong></p>

    <label for="char_url">Enter an image URL:</label><br>
    <input type="text" id="char_url" name="char_url" placeholder="https://example.com/image.jpg"><br>
    </div>
    <hr>

    <input type="submit" value="Create Character"><br>

</form>

{% endblock %}